@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
}

:root {

  --primary-color: #f2f2f2;
  --secondary-color: #252424;

  --main-color: #41a8dd;
  --success-color: #418318;
  --error-color: #ea5757;
  --info-color: #85efe8;
  --warning-color: #f8bf68;
  --gray-color: #919191;

  --main-color-pressed: #4abcf9;
  --success-color-pressed: #4f9e1d;
  --error-color-pressed: #ea5757;
  --info-color-pressed: #85efe8;
  --warning-color-pressed: #f8bf68;

  --error-color-transparent: rgba(234, 87, 87, 0.52);
  --error-color-transparent-pressed: rgba(234, 87, 87, 0.65);
  --main-color-transparent: rgba(74, 188, 249, 0.10);
  --main-color-transparent-pressed: rgba(74,188,249,0.25);

  --default-border-color: #d9d9d9;
  --default-font-size: 19px;
  --default-form-color: #eeeeee;

  --theme-switcher: #ffd000;

  font-family: "Tinos", "Roboto", "sans-serif", "Times New Roman";
  font-size: var(--default-font-size);

}
html[data-theme="light"] {
  --primary-color: #f2f2f2;
  --secondary-color: #141313;
  --default-border-color: #d9d9d9;
  --default-form-color: #eeeeee;
  --theme-switcher: #f6c905;
}

html[data-theme="dark"] {
  --secondary-color: #f2f2f2;
  --primary-color: #141313;
  --default-border-color: #2b2b2b;
  --default-form-color: #1e1e1e;
  --theme-switcher: #235180;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--secondary-color);
  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

span {
  color: var(--main-color);
}

.hoverable {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all ease-in-out .1s;
}
.hoverable:hover {
  color: var(--main-color);
}
.active {
  color: var(--main-color);
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all ease-in-out .1s;
}

.hoverable::after {
  content: '';
  position: absolute;
  transform-origin: center;
  transition: transform ease-out .3s;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  border-radius: 30px;
  background-color: var(--main-color);
  color: var(--main-color);
}

.hoverable:hover::after {
  transform: scaleX(1);
}

.active::after {
  content: '';
  position: absolute;
  transform-origin: center;
  transition: transform ease-out .3s;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: -4px;
  left: 0;
  border-radius: 30px;
  background-color: var(--main-color);
}

.text-link:hover {
  text-decoration: underline;
}

.material-symbols-outlined {
  color: var(--secondary-color);
}

.btn {
  padding: 10px 25px;
  border-radius: 30px;
  transition: all ease-out .25s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: var(--main-color);
}

.btn-primary:hover {
  background-color: var(--main-color-pressed);
}

.btn-secondary {
  border: 1px solid var(--main-color);

}

.btn-secondary:hover {
  background-color: var(--main-color);
}

.btn-error {
  background-color: var(--error-color-transparent);
}

.btn-error:hover {
  background-color: var(--error-color-transparent-pressed);
}

.input-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--default-border-color);
  padding: 10px;
  border-radius: 7px;

}

.input-group:focus-within, .input-group:hover {
  outline: 1px solid var(--main-color);
}

input, button, select {
  border: none;
  outline: none;
  font-size: var(--default-font-size);
  font-family: inherit;

}

button {
  cursor: pointer;
}

input, select {
  background: transparent;
  color: var(--secondary-color);
}

.theme-switcher {
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.toggle-switch {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background-color: var(--default-border-color);
  transition: background-color 250ms ease-in-out;
  position: relative;
}

.toggle-switch::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: var(--theme-switcher);
  border-radius: 50%;
  transition: transform 250ms ease-in-out;
}

.toggle-switch.checked {
  background-color: var(--default-border-color);
}

.toggle-switch.checked::after {
  transform: translateX(20px);
}

.pointer {
  cursor: pointer;
}

.loader-overlay {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background:
          var(--c) 50%  0,
          var(--c) 50%  100%,
          var(--c) 100% 50%,
          var(--c) 0    50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes l12 {
  100%{transform: rotate(.5turn)}
}

.radio {
  width: 25px;
  height: 25px;
}

table {
  border-collapse: collapse;
  width: 400px;
  margin: 10px 0;
  font-family: inherit;
  text-align: left;
  border: 1px solid var(--default-border-color);
}

.custom-table h3 {

  padding: 100px 0;
}

th, td {
  border-bottom: 1px solid var(--default-border-color);
  padding: 10px;
  text-align: left;
}


tr {
  background-color: var(--main-color-transparent);
}

tr:hover > *{
  background-color: var(--main-color-transparent-pressed);
}


